// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background: image-url('worn_dots.png');
}

.title {
  margin-top: 30%;
  .minor-title {
    margin-top:10px;
    font-size: 20px;
  }
}

.accordion {
  margin-top:20px;
  
  ul {
    li {
      color: black;
    }
  }
}